<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDS Entities</title>
</head>
<body>
    <div class="text-center mt-5 mb-5">
        <h2>Entities</h2>
    </div>

    <div class="links">
        <h3 class="text-center text-black-50">Actions</h3>

        <div class="d-flex justify-content-center mt-3 gap-3">
            <a class="btn btn-primary" asp-controller="Users" asp-action="Index">Users</a>
        </div>
    </div>
</body>
</html>